<!-- <img src="https://www.conted.ox.ac.uk/www/static/images/oudce_logo.svg" alt="OXF_logo_HTML" width="300"> 
-->

<img src="" alt="OXF_logo_HTML" width="300"> 

<h1>Python Programming for Data Science Introduction</h1>
Weekly Oxford Worldwide (WOW) Course Format

<style>
div.scrollable {
    height: 300px;  /* Adjust this value as needed */
    overflow: auto;
    border: 1px solid #ccc;  /* Optional: Adds a border */
    padding: 10px;           /* Optional: Adds padding inside the box */
}
</style>

# Lecture 3 Data Structures and Loops

## Plan for the lecture:

1. Concept of a Data Structure

2. Array and Strings (+ list comprehension)

3. Lists 

4. Tuples 

5. Sets

6. Dictionaries

## 1.0 Concept of a Data Structure

* Unlike a variable which stores one value at a time, a data structure is built to store a collection of values. 

* Indexed structures allow for random access (RAM) – can locate an item by the index location. An array and vector allow for this.  

* Non-indexed structures (or referenced) structures, on the other hand, are navigated sequentially. For example, a stream of data from the keyboard or from a file, or a linked list in which each node has a pointer the next in the sequence.

## 1.1 Applications of Data Structures

* The performance of typical operations (insert, delete, search and sort) vary across the structures. 

* Big O notation (complexity): constant, linear, linearithmic, quadratic etc. 

* Path finding algorithms (search / navigation).

* Computer vision (representation of media as numbers).

## 2.0 Array 

* The items in an array are called elements.

* We specify how many elements an array will have when we declare the size of the array (if ‘fixed-size’), unlike flexible sized collections (e.g. ArrayList in Java).

* Elements are numbered and can referred to by number inside the `[ ]` is called the index. This is used when data is input and output.

* Can only store data if it matches the type the array is declared with.

## 2.1 Strings are an Array (or in Python, an str list)

* A String (str) object is an immutable array of characters. 

* Each character has a numbered position in the array (index):

* We can make use of functions to be able to perform operations on the string.

In [2]:
name = "Nick"

In [4]:
name[2]

'c'

In [5]:
i = 0
for x in name: 
    print("[" + str(i) + "]" + " : " + str(x))
    i += 1

[0] : N
[1] : i
[2] : c
[3] : k

In [7]:
i = 0
for x in name: 
    print("[", i, "]", " : ", x)
    i += 1

[ 0 ]  :  N
[ 1 ]  :  i
[ 2 ]  :  c
[ 3 ]  :  k

In [8]:
name[0]

'N'

## 2.2 List comprehension: 

* Now that we've seen the `for...in...` loop in python, we can now review the list comprehension

* List comprehension offers a <b>shorter syntax</b> for iterating through a list, on the same line (rather than a code block).

* It is often used to create a new list based on the values of an existing list.

... Now, we could use list comprehension to <b>print</b> out the contents of a list.

The standard `for...in...` below:

In [4]:
for x in name:
    print(x)

N
i
c
k

... would be reordered to look like the following:

In [3]:
[print(x) for x in name]

N
i
c
k

[None, None, None, None]

But notice that it returns a list of 'None' values!

List comprehension works better if you want to <b>create a new list based on the values of an existing list</b>.

`newlist = [expression` <b>for</b> `item` <b>in</b>` iterable `<b>if</b> `condition == True]`

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

shortlist = [x for x in fruits if "a" in x]

shortlist

['apple', 'banana', 'mango']

Can also apply functions to each item in a list too...

In [ ]:
name = "Nicholas"

uppercase = [x.upper() for x in name]

uppercase

['N', 'I', 'C', 'H', 'O', 'L', 'A', 'S']

## 2.3 The `dir` of methods

In [10]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
name.find('c')

2

In [12]:
name.find('C')

-1

In [13]:
name.lower()

'nick'

In [14]:
name.upper()

'NICK'

## 3. Lists `[ ]`

* A list in Python does use the subscript operator `[ ]` typically associated with an array. Elements in this list are also indexed.

* The list will maintain a pointer (reference) to objects, rather the integer values (remember Python types are classes).

* Lists in python are resizable, unlike static arrays which are fixed.

* Python lists can store elements of different types, whereas arrays are declared to store values of one type.

In [15]:
l = [1,2.25,"Nick","N",True]
l

[1, 2.25, 'Nick', 'N', True]

In [16]:
l = [1,2,3,4,5,6]
l

[1, 2, 3, 4, 5, 6]

In [17]:
l[0]

1

In [18]:
l[-1]

6

In [19]:
l[-2]

5

In [20]:
l

[1, 2, 3, 4, 5, 6]

In [21]:
l[2:5]

[3, 4, 5]

In [22]:
type(l)

list

In [23]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
l.append(7)
l

[1, 2, 3, 4, 5, 6, 7]

In [25]:
l.remove(7)
l

[1, 2, 3, 4, 5, 6]

## 4. Tuples in Python `( )`

* We’ve seen that a Python list is indexed and can store elements of different types (heterogeneity) 

* Tuples are constant (immutable) – once they are declared, they cannot be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can still refer to elements in a tuple via the `[ ]`

In [26]:
t = (1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [28]:
t[2]

3

In [30]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [31]:
type(t)

tuple

In [32]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [35]:
t1 = (1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3)

In [36]:
t1.count(2)

9

In [38]:
t

(1, 2, 3, 4, 5, 6)

In [37]:
t.index(5)

4

## 4.1 Tuples vs Lists 

* Tuples are immutable (constant) – once they are declared, they cannot be reassigned. 

* A list is mutable – elements can be reassigned. 

* A list is declared with `[ ]` whereas the tuple is declared with `( )`

* We can refer to elements in both a list and tuple via the `[ ]`

## 5.0 Sets in Python `{ }`

* Sets in mathematics refer to a set of distinct numbers – there are no duplicates.

* Whilst one may try and assign multiple instances of the same value, the Python set only stores one instance of this value.

* Casting data to a set is a useful way to remove duplicates!

* Sets are declared with the `{ }`

* Sets are mutable (can change)

In [ ]:
s = {1,2,3,4,5,6}
s

In [ ]:
s.add(7)
s

In [ ]:
s.remove(7)
s

In [ ]:
s = {1,2,3,4,5,6,1,2,3,4,5,6}
s

In [ ]:
l = [1,1,2,2,3,3,4,4,5,5,6,6]
s = set(l)
s

## 5.1 Standard Sets and Notation (from Discrete Mathematics)

* $ \mathbb{N} = \{ 0, 1, 2, 3, ...\} $ the set of all non-negative integers

* $ \mathbb{Z} = \{..., -3, -2, -1, 0, 1, 2, 3, ...\} $ the set of all integers

* $ \mathbb{Q}$, the set of all rational numbers, i.e. numbers of the form $a/b$ where $a,b$ are integers with $b \neq 0$

* $ \mathbb{R}$, the set of all real numbers, also denoted as as $(-\infty, +\infty)$

In [ ]:
N = {0, 1, 2, 3, 4, 5, ...}
N

{0, 1, 2, 3, 4, 5, Ellipsis}

## 5.2 Specifying Sets via Condition 

* $ \in $ means IN, so if $ x \in \mathbb{N} $ then $x$ is IN $\mathbb{N}$ - set of non-negative integers.

* $\mid$ means SUCH THAT, so $ S = \{ x \in \mathbb{R} \mid x > 0 \} $, then S is going to hold real numbers greater than zero.

* $ S = \{ x \in \mathbb{R} \mid x > 0 \} $

In [ ]:
s = set()
l = [-2, -1, 0, 1, 2, 3]

for number in l: 
    if number > 0:
        s.add(number)
        
s

{1, 2, 3}

## 5.3 Subsets and Set Equality

* $ \subset $ means subset

* subset $ A \subset B $

In [ ]:
A = {1,2,3}
B = {1,2,3,4,5,6}

In [ ]:
A.issubset(B)

True

In [ ]:
A = {1,2,3}
B = {4,5,6}

In [ ]:
A.issubset(B)

False

## 5.4 Union, Intersection and Difference 

* Intersect $ A \cap B $ = ` A & B ` in Python

* Union $ A \cup B $ =  ` A | B ` in Python

* Difference $ A \setminus B $ =  ` A - B ` in Python

## 5.4.1 Set Intersect

In [ ]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
A & B

## 5.4.2 Set Union

In [ ]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
A | B

## 5.4.3 Set Difference

In [ ]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
A - B

In [ ]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
B - A

## 6.0 Dictionaries `{ k : v}`

* An English Dictionary would allow us to look up the definition of a word. We search the word to locate the definition. 

* In Python, we specify a key (word) to be able to get a value (definition). 

* Similar to an associative array, or a Map in Java.

* Like Set, Dictionaries also use the `{ }` but they feature : for a key and value pair  `{ k : v }`

In [44]:
d = {"USA": 200, "UK": 200, "EU": 200}
d

{'USA': 200, 'UK': 200, 'EU': 200}

In [51]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["UK"]

200

In [52]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["uk"]

KeyError: 'uk'

## 6.4 Append

In [45]:
d = {"USA": 200, "UK": 200, "EU": 200}
d["Asia"] = 300
d

{'USA': 200, 'UK': 200, 'EU': 200, 'Asia': 300}

## 6.5 Remove

In [46]:
d = {"USA": 200, "UK": 200, "EU": 200, "Asia": 30}
del d["Asia"]
d

{'USA': 200, 'UK': 200, 'EU': 200}

In [55]:
type(d)

dict

In [47]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [57]:
d = {"USA": 200, "UK": 200, "EU": 200}
print( d.keys() )
print( d.values() )

dict_keys(['USA', 'UK', 'EU'])
dict_values([200, 200, 200])

## Summary 

* You can distinguish between the key collections by the pairs of brackets used: 

| Structure | Brackets | Characteristics |
| ----------- | ----------- | --------- |
| Lists |	`[ , ]` | mutable |
| Tuples |	`( , )` | immutable | 
| Sets |	`{ , }`  | unique values (no duplicates) |
| Dict | `{k : v}` | key and value pairs |

#### This Jupyter Notebook contains exercises for you to extend your introduction to Python, by creating lists, tuples, sets, dictionaries of objects. Attempt the following exercises, which slowly build in complexity. If you get stuck, check back to the <a href = "https://www.youtube.com/watch?v=359eGFD7hS4"> Python lecture recording on Data Structures here</a> or view the <a href = "https://www.w3schools.com/python/python_lists.asp">W3Schools page on Python Variables</a>, which includes examples, exercises and quizzes to help your understanding.

# Exercise 3: Data Structures, Functions and Loops

In this week's exercise, you'll learn how to:

1. write functions that manipulate data structures such as lists and dictionaries
2. master list comprehension and dict comprehension
3. compute operations on matrices represented as lists of lists

## Lists

### 3.1. Write a Python function to sum all the numbers in a list.

Write a function to sum all number in a list without using the `sum()` built-in method. Hint: use a `for..in` cycle instead.

Sample list: `[9, 12, 7, 19]`

Expected output: 47

In [ ]:
# Write your function here:
# Hint: do not use the name `sum` for your function because it would overwrite the built-in sum() method

### 3.2 Write a Python program to count the number of elements in a list within a specified range.

Sample list: `[10,20,30,40,40,40,70,80,99]`

Sample min: `15`

Sample max: `50`

Expected output: `5`

In [ ]:
# Write your function here:

In [ ]:
# Test your function here

### 3.3 List Manipulation

From the given list:

```
gadgets = [“Mobile”, “Laptop”, 100, “Camera”, 310.28, “Speakers”, 27.00,
“Television”, 1000, “Laptop Case”, “Camera Lens”]
```

a)create separate lists of strings and numbers.
 
b)Sort the strings list in ascending order
 
c)Sort the strings list in descending order
 
d)Sort the number list from lowest to highest
 
e)Sort the number list from highest to lowest

In [ ]:
# Write your solution here:

gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]
 

# Write your solutions here 
 
# a)creating separate lists

# b)sorting strings list in ascending order, a-z

# c)sorting strings list in descending order z-a

# d)sorting number list from lowest to highest

# e)sorting number list from highest to lowest

['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
b) ['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
c) ['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']
['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']
[27.0, 100, 310.28, 1000]
[1000, 310.28, 100, 27.0]

## Dictionaries

### 3.4 Dictionary manipulation

Write a function that takes a dictionary as input and retuns the mean (i.e. average value) of the values stored in the dictionary

```
Sample Dictionary = Life expectancy by country = {
    'Japan': 83.7,
    'Switzerland': 83.4,
    'Singapore': 83.1,
    'Italy': 82.7,
    'Israel': 82.5,
    'Netherlands': 81.9,
    'United Kingdom': 81.2,
    'Cyprus': 80.5,
    'Chile': 80.5,
    'United States: 79.3,
    'Argentina': 76.3,
    'Iran': 75.5,
    'Jordan': 74.1,
    'Russia': 70.5,
    'Philippines': 68.5,
    'India': 68.3
}
```

In [ ]:
life_expectancy = {
    'Japan': 83.7,
    'Switzerland': 83.4,
    'Singapore': 83.1,
    'Italy': 82.7,
    'Israel': 82.5,
    'Netherlands': 81.9,
    'United Kingdom': 81.2,
    'Cyprus': 80.5,
    'Chile': 80.5,
    'United States': 79.3,
    'Argentina': 76.3,
    'Iran': 75.5,
    'Jordan': 74.1,
    'Russia': 70.5,
    'Philippines': 68.5,
    'India': 68.3
}

In [ ]:
# Write your function here:

### 3.5 Dictionary sorting

Write a program that sorts by key in descending order (from Z to A) the dictionary of **exercise 3.4**. 

Hint: inspect the Python built-in functions (https://docs.python.org/3.7/library/functions.html)

In [ ]:
# Write your program here

### 3.6 Lists to Dictionary

Write a program (or function) that maps two lists into a dictionary

Sample first list: ```['Japan', 'Italy', 'United Kingdom', 'Russia']```

Sample second list: ```[83.7, 82.7, 81.2, 70.5]```

In [ ]:
# Write your program here

In [ ]:
create_dictionary_from_lists(['Japan', 'Italy', 'United Kingdom', 'Russia'],[83.7, 82.7, 81.2, 70.5] )

{'Japan': 83.7, 'Italy': 82.7, 'United Kingdom': 81.2, 'Russia': 70.5}

In [ ]:
Dict_Key_Cty = ['Japan', 'Italy', 'United Kingdom', 'Russia']
Dict_Val_Age =[83.7, 82.7, 81.2, 70.5]
Dict_Result = []
for items in range(0,len(Dict_Key_Cty)):
    Dict_Result.append((Dict_Key_Cty[items],Dict_Val_Age[items]))
print("Resulted Dictionary:",dict(Dict_Result))

Resulted Dictionary: {'Japan': 83.7, 'Italy': 82.7, 'United Kingdom': 81.2, 'Russia': 70.5}

## Tuples

### 3.7 Write a Python program to get the 4th element and 4th element from last of a tuple.

Sample input

```
tuplex = ("we", 3, "are", "left", 4.8, "our", "u", "www.ox.ac.uk", "core", "empty")
```

In [ ]:
tuplex = ("we", 3, "are", "left", 4.8, "our", "u", "www.ox.ac.uk", "core", "empty")

In [ ]:
# Write your solution here

4th element: left
4th element from last: u

### 3.8  Write a Python program to convert a list of tuples to a dictionary.

Sample input: ```[(28, 'February'), (30, 'April'), (31, 'July'), (31, 'August'), (30, 'November')]```

Sample output ```{'February': 28, 'April': 30, 'July': 31, 'August': 31, 'November': 30}```

In [ ]:
tuples_list = [(28, 'February'), (30, 'April'), (31, 'July'), (31, 'August'), (30, 'November')]

In [1]:
# Write your program here

## `for` loops, list comprehension, dict comprehension

### 3.9 List comprehension

Rewrite the following code using list comprehension

In [ ]:
# Code to be rewritten

sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
      if word != "the":
          word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [ ]:
# Write your solution here

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

### 3.10 List filtering

Using a list comprehension, create a new list called "newlist" out of the list "numbers", which contains only the positive numbers from the list, as integers rounded to the closest integer value.

In [ ]:
### Input

numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

### Write your solution here

### 3.11 Matrix Element Wise-multiplication

Matrices can be encoded as numerical two-dimensional lists
Consider the two following matrices 

```
mat_00 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
```
and
```
mat_01 = [[1, 0, 0], [0, 1, 0], [0, 0, 1]]
```

Compute the element-wise multiplication of the two matrices, i.e.

```
mat_02 = [[1, 0, 0], [0, 5, 0], [0, 0, 9]]
```

In [ ]:
mat_00 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
mat_01 = [[1, 0, 0], [0, 1, 0], [0, 0, 1]]

## Write your solution here:

### 3.12 Matrix-Matrix Multiplication

Consider the following two matrices

```
mat_00 = [[2, 1, 3], [1, 1, 2]]
```
and
```
A = [[1, 2], [5, 6], [7, 9]]
```

Compute the matrix multiplication, i.e.:
```
B = [[28 37] [20 26]]
```

In [ ]:
A = [[2, 1, 3], [1, 1, 2]]
B = [[1, 2], [5, 6], [7, 9]]

# Write your solution here

### 3.13 Dict comprehension

Consider these four lists:
```
fellowship_names = ['gandalf', 'frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli', 'pippin']
```
```
fellowship_surnames = [
    'mithrandir', 'baggins', 'gamgee', 'brandybuck', 'elessar', 
    'greenleaf', 'son of denethor', 'son of gloin', 'took'
]
```
```
fellowship_species = ['maia', 'hobbit', 'hobbit', 'hobbit', 'man', 'elf', 'man', 'dwarf', 'hobbit']
```
```
fellowship_ages = [inf, 51, 36, 37, 88, 800, 41, 140, 29]
```

1) Produce a dictionary with the mapping `fellowship_name` -> `fellowship_age`, pairing each element with the same index in the two lists

2) Produce a dictionary with the mapping `(fellowship_name, fellowship_surname)` -> `fellowship_species`, pairing each element with the same index in the three lists

In [ ]:
from math import inf

fellowship_names = ['gandalf', 'frodo', 'samwise', 'merry', 'aragorn', 
                    'legolas', 'boromir', 'gimli', 'pippin']
fellowship_surnames = [
    'mithrandir', 'baggins', 'gamgee', 'brandybuck', 'elessar', 
    'greenleaf', 'son of denethor', 'son of gloin', 'took'
]
fellowship_species = ['maia', 'hobbit', 'hobbit', 'hobbit', 'man', 'elf', 'man', 'dwarf', 'hobbit']

fellowship_ages = [inf, 51, 36, 37, 88, 800, 41, 140, 29]

# Write your solution here